@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

@font-face {
  font-family: Minecrafter;
  src: url(./fonts/Minecrafter_3.woff2) format("woff2"),
  url(./fonts/Minecrafter_3.ttf);
  font-display: swap;
}