@keyframes fadeInDown {
  0% {
    margin-bottom: -70px;
    opacity: 0;
  }

  100% {
    margin-bottom: 0px;
    opacity: 1;
  }
}

@keyframes fadeOutUp {
  0% {
    margin-bottom: 0px;
    opacity: 1;
  }

  100% {
    margin-bottom: -70px;
    opacity: 0;
  }
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: url(bg.jpg);
  background-size: cover;
  background-position: center;
}

.app-body {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
}

.app-main-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  display: flex;
  width: 380px;
  opacity: 1;
  user-select: none;
  transition: width linear 100ms, height linear 100ms, opacity linear 100ms;
}

.logo.shrunk {
  width: 160px;
  opacity: 0.9;
}

.logo-container {
  display: flex;
  flex: 0 0 320;
  padding: 32px;
  justify-content: center;
}

.page {
  display: flex;
  flex-direction: column;
  font-family: Minecrafter;
  font-size: 1rem;
  background-color: rgba(0,0,0,0.5);
  color: white;
  box-sizing: border-box;
  border-radius: 8px;
  text-shadow: 0 2px 3px rgba(0,0,0,0.2);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  animation: fadeInDown ease-out 300ms;
  z-index: 800;
  position: relative;
}

.page.fading {
  animation: fadeOutUp ease-out 300ms;
}

.page-actions {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 4px;
  margin-bottom: 16px;
}

.close-page {
  color: #cccccc;
  font-size: 2rem;
  transition: color linear 100ms;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: -50px;
  z-index: 1000;
}

.close-page:hover {
  color: white;
}

.navbar {
  font-family: Minecrafter;
  font-size: 1.2rem;
  display: flex;
  height: 70px;
  border-radius: 8px;
  margin-bottom: 16px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

.launcher-page {
  width: 100%;
  height: 70px;
  flex-direction: row;
  justify-content: space-between;
} 

.launcher-info {
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
}

.launcher-buttons {
  display: flex;
  justify-content: space-around;
}

.tos {
  color: orange;
  cursor: pointer;
}

.tos-footer {
  color: white;
  font-family: Montserrat;
  font-size: 1.1rem;
  margin-top: 8px;
  font-weight: 600;
  padding-bottom: 32px;
  opacity: 0.75;
  cursor: pointer;
  text-shadow: 0 1px 2px rgba(0,0,0,0.4);
  transition: opacity linear 200ms;
}

.tos-footer:hover {
  opacity: 1;
}


.navbar-link, .btn-launcher {
  display: flex;
  justify-content: center;
  background-color: rgba(0,0,0,0.5);
  padding: 20px 32px;
  cursor: pointer;
  user-select: none;
  color: #bbbbbb;
  text-shadow: 0 2px 3px rgba(0,0,0,0.2);
  transition: background-color linear 100ms, color linear 100ms;
}

.navbar-link:hover, .btn-launcher:hover {
  color: white;
}

.navbar-link:hover {
  background-color: rgba(255, 145, 0, 0.5)
}

.btn-launcher {
  font-size: 1.8rem;
  background-color: transparent;
}

.btn-launcher.disabled {
  color: #bbbbbb;
  cursor: default;
}

.btn-launcher.disabled:hover {
  color: #bbbbbb;
  cursor: default;
}

.navbar-link:first-child {
  border-radius: 8px 0 0 8px;
}

.navbar-link:last-child {
  border-radius: 0 8px 8px 0;
}

.social-links {
  display: flex;
  justify-content: space-between;
  box-sizing: content-box;
}

.social-link {
  cursor: pointer;
  font-size: 1.5rem;
  padding: 8px;
  box-shadow: inset 0 0 4px 4px rgba(255,255,255,0), 0 2px 4px 0 rgba(0,0,0,0.2);
  margin: 8px;
  display: flex;
  flex: 0 0 1.5rem;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  color: white;
  transition: box-shadow linear 100ms;
}

.social-link:hover {
  box-shadow: inset 0 0px 4px 4px rgba(255,255,255,0.1), 0 2px 4px 0 rgba(0,0,0,0.2);
}

.sl-teamspeak {
  background-color: #343a40;
}

.sl-twitter {
  background-color: rgb(22,160,241);
}

.sl-facebook {
  background-color: rgb(66,103,178);
}

.sl-instagram {
  background-color: crimson;
}

.sl-telegram {
  background-color: rgb(46,166,226);
}

.sl-discord {
  background-color: rgb(93,116,197);
}

.sl-github {
  background-color: rgb(36,41,46);
}

.sl-steam {
  background-color: rgba(1,123,176);
}

.sl-youtube {
  background-color: rgb(221, 8, 8);
  font-size: 1.35rem;
}

.sostienici-info, .oppure {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 24px;
  font-size: 1.3rem;
  text-shadow: 0 2px 3px rgba(0,0,0,0.2);
}

.sostienici-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sostienici-postepay {
  font-family: Montserrat;
}

.sostienici-button {
  color: white;
  border-radius: 4px;
  display: flex;
  padding: 16px 32px;;
  align-items: center;
  justify-content: space-between;
  font-family: Minecrafter;
  margin: 8px;
  cursor: pointer;
  user-select: none;
  flex: 1 1 auto;
  text-shadow: 0 2px 3px rgba(0,0,0,0.2);
  font-size: 1rem;
}

.paypal-form {
  display: flex;
  
  flex: 1 1 auto;
}

.paypal-button {
  background-color: rgb(0, 112, 186);
  appearance: none;
  border: none;
  
  text-shadow: 0 2px 3px rgba(0,0,0,0.2);
}

.patreon-button {
  background-color: orange;
}

.tos-label {
  display: flex;
  padding-left: 32px;
  margin-top: 2px;
  justify-content: center;
  align-items: center;
}

input[type='checkbox'] {
  appearance: none;
  border: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
  margin-top: 0px;
  margin-left: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 4px 0 rgba(0,0,0,0.3);
  background-color: white;
  border-radius: 4px;
}

input[type='checkbox']::after {
  content: '\2713';
  color: orange;
  font-size: 18px;
  font-weight: 600;
  transition: opacity linear 100ms;
}

input[type='checkbox']:not(:checked)::after {
  opacity: 0;
}

input[type='checkbox']:checked::after {
  opacity: 1;
}

.acme-bar {
  display: flex;
  font-family: Minecrafter;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.4);
  background-color: rgba(0,0,0,0.6);
}

.acme-bar a {
  text-decoration: none;
  padding: 8px 12px;
  margin: 0;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  background-color: rgba(255,255,255,0);
  transition: background-color linear 200ms;
  text-shadow: 0 2px 1px rgba(0,0,0,0.2);
}

.acme-bar a:hover {
  background-color: rgba(255,255,255,0.2);
}

.acme-bar .left-links {
  flex: 0 1 auto;
  display: flex;
  justify-content: flex-start;
}

.acme-bar .right-links {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-end;
}

.acme-link, .acme-link:visited {
  color: #f55b75;
}

.vgz-link, .vgz-link:visited {
  color: greenyellow;
}

.ffp-link, .ffp-link:visited {
  color: #b849b0;
}

.ts3-logo {
  margin: 72px 0 24px 0;
  width: 200px;
}

@keyframes newsScroll {
  0% {
    right: -60rem;
    left: 60rem;
  }
  50% {
    right: 0;
    left: 0;
  }
  100% {
    right: 60rem;
    left: -60rem;
  }
}

.news-container-container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 8px;
  color: rgba(255,255,255,0.8);
  background-color: rgba(0,0,0,0.5);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  margin-bottom: 16px;
}

.news-container-container .fa-circle {
  margin: 0 16px 0 8px;
  color: rgba(255,255,255,0.2);
}

.news-container {
  padding: 16px 0;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.news {
  top: calc(50% - 0.7rem);
  font-size: 1.2rem;
  min-width: 60rem;
  max-width: 60rem;
  flex: 0 0 0;
  text-align: center;
  white-space: nowrap;
  font-family: Montserrat;
  animation: newsScroll 10s linear infinite;
  position: absolute;
  width: 100%;
}

@media screen and (max-width: 1100px) {
  @keyframes fadeInDown {
    0% {
      margin-bottom: -208px;
      opacity: 0;
    }
  
    100% {
      margin-bottom: 0px;
      opacity: 1;
    }
  }
  
  @keyframes fadeOutUp {
    0% {
      margin-bottom: 0px;
      opacity: 1;
    }
  
    100% {
      margin-bottom: -208px;
      opacity: 0;
    }
  }

  .logo {
    width: 240px;
  }

  .app {
    justify-content: space-around;
  }

  .app-main-col {
    width: 90%;
  }

  .navbar {
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  .navbar-link:first-child {
    border-radius: 8px 8px 0 0;
  }
  
  .navbar-link:last-child {
    border-radius: 0 0 8px 8px;
  }

  .social-links {
    padding-bottom: 24px;
  }

  .social-link {
    flex: 0 0 0.9rem;
    font-size: 0.9rem;
    padding: 6px;
    height: 0.9rem;
    justify-content: center;
    margin: 4px;
  }

  .launcher-page {
    padding: 24px 0 8px 0;
    flex-direction: column;
    margin-bottom: 32px;
    height: 208px;
  }

  .launcher-buttons {
    justify-content: center;
  }

  .close-page {
    right: calc(50% - 1rem);
    top: calc(100% + 1rem);
    bottom: -20px;
  }

  .tos-label {
    display: flex;
    flex-direction: column;
    padding-left: 0;
  }

  .tos-label input {
    margin-left: 0;
  }

  .tos-footer {
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 600px) {

  .acme-bar a {
    font-size:0.6rem;
  }

}
